{% extends "store/base.html" %}


{% block title %}Cart | StyleHub{% endblock %}


{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Shopping Cart</h1>


    {% if cart_items %}
        {% for item in cart_items %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <img
                                src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}"
                                class="img-fluid rounded"
                            >
                        </div>


                        <div class="col-md-3">
                            <h5>{{ item.product.name }}</h5>
                            <p class="mb-0">
                                Price: ${{ item.product.price }}
                            </p>
                        </div>


                        <div class="col-md-3">
                            <div class="d-flex align-items-center gap-2">
                                <form
                                    method="post"
                                    action="{% url 'store:decrease_cart_quantity' item.product.id %}"
                                >
                                    {% csrf_token %}


                                    <button
                                        type="submit"
                                        class="btn btn-outline-dark"
                                    >
                                        −
                                    </button>
                                </form>


                                <strong>{{ item.quantity }}</strong>


                                <form
                                    method="post"
                                    action="{% url 'store:increase_cart_quantity' item.product.id %}"
                                >
                                    {% csrf_token %}


                                    <button
                                        type="submit"
                                        class="btn btn-outline-dark"
                                    >
                                        +
                                    </button>
                                </form>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <strong>
                                ${{ item.subtotal }}
                            </strong>
                        </div>


                        <div class="col-md-2">
                            <form
                                method="post"
                                action="{% url 'store:remove_from_cart' item.product.id %}"
                            >
                                {% csrf_token %}


                                <button
                                    type="submit"
                                    class="btn btn-danger"
                                >
                                    Remove
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="card mt-4">
            <div class="card-body text-end">
                <h3>Total: ${{ total_price }}</h3>


                <a
                    href="{% url 'store:checkout' %}"
                    class="btn btn-success btn-lg mt-2"
                >
                    Proceed to Checkout
                </a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            Your cart is empty.
        </div>


        <a
            href="{% url 'store:product_list' %}"
            class="btn btn-dark"
        >
            Browse Products
        </a>
    {% endif %}
</div>
{% endblock %}
